// VARIABLES
$color1: hsl(35, 77%, 62%);
$color2: hsl(5, 85%, 63%);
$color3: hsl(36, 100%, 99%);
$color4: hsl(233, 8%, 79%);
$color5: hsl(236, 13%, 42%);
$color6: hsl(240, 100%, 5%);

$font: "Inter", sans-serif;
